<div id="space-header-wrapper" class="sticky {{extraclass}}">
    <div id="space-header" class="clearfix">
        <div class="header-column column-to-left clearfix">
            <div class="header-logo-wrapper">
              <div class="image-logo">
                <img src="{{@blog.logo}}" />
              </div>
              <a class="logo-link" href="{{@blog.url}}">
                  <h1 class="text-logo">{{@blog.title}}</h1>
              </a>
            </div>
        </div>
        <div class="header-column column-to-right clearfix">
            <div class="header-navigation-wrapper  make-space">
              {{navigation}}
            </div>
            <div class="header-mobile-navigation-wrapper hidden">
                <a id="show-mobile-navigation-btn" href="index.html#">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
{{! Search isn't implemented yet
            <div class="header-search-wrapper ">
                <a id="show-search-btn" href="index.html#">
                    <i class="fa fa-search"></i>
                </a>
            </div>
}}
{{! Don't really need the twitter overlay either
            <div class="header-aside-wrapper ">
                <a id="show-aside-btn" href="index.html#">
                    <i class="fa fa-ellipsis-h"></i>
                </a>
            </div>
}}
            <div class="header-social-wrapper ">
                <div class="social-btns clearfix">
                    {{> includes/social}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF #space-header-wrapper -->
