<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width">

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{> includes/favicons}}

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <link rel='stylesheet' id='space-css-css' href="{{asset "css/style.css"}}" type='text/css' media='all' />
    <link rel='stylesheet' id='space-styles-css' href="{{asset "css/styles.css"}}" type='text/css' media='all' />
    <link rel='stylesheet' id='print-css' href="{{asset "css/print.css"}}" type='text/css' media='print' />
    <link rel='stylesheet' id='font-awesome-4.5.0-css' href="{{asset "css/font-awesome.min.css"}}" type='text/css' media='all' />
    <link rel="stylesheet" id='fonts-bellota' type="text/css" href="{{asset "css/fonts.css"}}">

    {{! Ghost outputs important style and meta data with this tag }}
    <!-- Ghost metadata -->
    {{ghost_head}}
    <!-- end Ghost metadata -->
</head>

{{{body}}}

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type='text/javascript' src="{{asset "js/jquery/jquery.js"}}"></script>
    <script type='text/javascript' src="{{asset "js/jquery/jquery-migrate.min.js"}}"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    <script type='text/javascript' src="{{asset "js/instafeed.min.js"}}"></script>
    <script type="text/javascript">
        var feed = new Instafeed({
            get: 'user',
            userId: '1952998537',
            accessToken: '1952998537.6a7999e.269197c57d5a477aa97ae8c12fb74696',
            target: 'space-instagram-footer-wrapper',
            template: '<a class="photo" href="\{{link}}" target="_blank" class=""><img src="\{{img_url}}" alt="\{{caption}}" title="\{{caption}}" class=""/><i class="fa fa-instagram overlay"></i></a>'
        });
        feed.run();
    </script>
    <script type='text/javascript' src="{{asset "js/hoverIntent.min.js"}}"></script>
    <script type='text/javascript' src="{{asset "js/imagesloaded/imagesloaded.min.js"}}"></script>
    <script type='text/javascript' src="{{asset "js/touchswipe/jquery.touchSwipe.min.js"}}"></script>
    <script type='text/javascript' src="{{asset "js/smartresize/jquery.debouncedresize.js"}}"></script>
    <script type='text/javascript' src="{{asset "js/fitvids/fitvids.js"}}"></script>
    <script type='text/javascript' src="{{asset "js/isotope/isotope.min.js"}}"></script>
    <script type='text/javascript' src="{{asset "js/scripts.js"}}"></script>
    <script type='text/javascript' src="{{asset "js/comment-reply.min.js"}}"></script>

</body>
</html>
