{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<body class="archive tax-space-recipe-categories term-mains tag-{{tag.id}}">
  <div id="space-site-wrapper" class="clearfix">
    <div id="space-site" class="clearfix">
        {{#is "paged"}}
            {{> header extraclass="always-filled"}}
        {{else}}
            {{> header}}
        {{/is}}
        <div class="header-bottom-border"></div>
          <div id="space-archives-header-wrapper">
            {{! If we have a tag cover, display that - else blog cover - else nothing }}
            <div id="archives-header-background" {{#if tag.image}}style="url({{tag.image}})" {{else}}{{#if @blog.cover}} style="background-image: url({{@blog.cover}})" {{else}}no-cover{{/if}}{{/if}}></div>
            <div id="space-archives-header">
                <div class="header-column column-to-left">
                    <h1 class="header-title" style="text-transform: capitalize;">{{tag.name}}</h1>
                </div>
                <div class="header-column column-to-right">
                    <div id="header-dropdown" class="">
                        <div class="dropdown-header">Categories<i class="fa fa-angle-down"></i></div>
                        <div class="dropdown-separator"></div>
                        <div class="dropdown-body clearfix">
                          {{#get "tags" limit="all" filter="id:-{{tag.id}}" as |tag|}}
                            {{#foreach tag}}
                              <a class="dropdown-link" href="{{url}}">{{name}}</a>
                            {{/foreach}}
                          {{/get}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{! The main content area on the homepage }}
        <div id="space-body-wrapper">
            <div id="space-recipes-wrapper" class="clearfix boxed">
                <div id="space-recipes" class="clearfix isotope-wrapper ">
                  {{! The tag below includes the post loop - partials/post/loop.hbs }}
                  {{> "index/loop"}}
                </div>
            </div>
            {{pagination}}
        </div>
        <!-- END OF #space-body-wrapper -->
        {{> footer}}
    </div>
    <!-- END OF #space-site -->
    {{> includes/twitter-aside}}
    {{> includes/mobile-nav}}
    {{> includes/search-aside}}
    {{> includes/preload-wrapper}}
  </div>
  <!-- END OF #space-site-wrapper -->
