<div id="space-recipes-slider-wrapper" data-height="full_screen" data-autorotate="true" data-rotatedelay="8000">
    <div class="slider-elements">
      <div id="slide-0" class="slide current">
        <div class="slide-background" style="background-image: url({{@blog.cover}});"></div>
        <div class="slide-overlay-wrapper">
            <div class="slide-overlay">
                <h1 class="recipe-title"><a class="recipe-link" href="">Welcome to {{@blog.title}}</a></h1>
                {{> includes/separator}}
                <p class="recipe-lead">{{@blog.description}}</p>
                </div>
            </div>
        </div>
    {{#get "posts" include="tags,author" filter="featured:true" limit="5" as |featured|}}
        {{#foreach featured}}
        <div id="slide-{{id}}" class="slide">
            <div class="slide-background" style="background-image: url({{image}});"></div>
            <div class="slide-overlay-wrapper">
                <div class="slide-overlay">
                    <h1 class="recipe-title"><a class="recipe-link" href="{{url}}">{{title}}</a></h1>
                    {{> includes/separator}}
                    <p class="recipe-lead">{{excerpt}}</p>
                    <div class="recipe-meta">
                        <p>{{#if tags}}In <a property="recipeCategory" content='{{tags limit="1"}}' href="">{{tags limit="1"}}</a>{{/if}} by <a href="/author/{{author.slug}}">{{author.name}}</a> on <a href=""></a>{{date}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/foreach}}
    {{/get}}
    </div>
    <div class="slider-controls">
        <a class="slide-control navigation prev-control" href="index.html#"><span class="number"><i class="fa fa-angle-left"></i></span></a>
        {{#get "posts" filter="featured:true" limit="5" as |featured|}}
            {{#foreach featured}}
              <a class="slide-control pagination" href="#" data-target="slide-{{id}}" title="{{title}}"><span class="number">{{@number}}</span></a>
            {{/foreach}}
        {{/get}}
        <a class="slide-control navigation next-control" href="index.html#"><span class="number"><i class="fa fa-angle-right"></i></span></a>
    </div>
</div>
