{{#author}}
<div class="post-author-wrapper">
	<div class="post-author">
		<div class="author-data">
			<div class="author-name"><a href='{{../url}}/{{slug}}'>{{name}}</a></div>
			<div class="author-description">
				{{bio}}
			</div>
			<div class="author-social-links">
				<div class="social-btns clearfix">
					{{#if facebook}}
					<a class="facebook-btn" href="{{facebook_url}}" target="_blank"><i class="fa fa-facebook"></i></a>
					{{/if}}
					{{#if twitter}}
					<a class="twitter-btn" href="{{twitter_url}}" target="_blank"><i class="fa fa-twitter"></i></a>
					{{/if}}
					<a class="instagram-btn" href="https://www.intagram.com/TwoPhatDacks" target="_blank"><i class="fa fa-instagram"></i></a>
				</div>
			</div>
		</div>
		<div class="author-avatar">
			<a href="{{website}}"><img alt='' src='{{image}}' srcset='{{image}} 2x' class='avatar avatar-64 photo'
					height='64' width='64' /><i class="fa fa-long-arrow-right overlay"></i></a>
		</div>
	</div>
</div>
{{/author}}
