{{#ct}}
<!-- post/ingredients.hbs //-->
    {{#if recipes}}
    <div class="{{divclass}}">
        <div class="recipe-card-title">Ingredients</div>
        <div class="separator">
            {{> includes/separator-small width="46px" height="12px"}}
        </div>
        <div class="recipe-card-ingredients clearfix">
            {{#foreach recipes as |recipe|}}
            <div class="ingredients-section">
                <div class="ingredients-section-name"><span class="section-name">{{recipe.title}}</span></div>
                <div class="ingredients-list">
                        {{#foreach recipe.ingredients}}
                        <div property="recipeIngredient" class="ingredient clearfix">
                            <div class="ingredient-name">{{name}}</div>
                            <div class="ingredient-amount">{{quantity}}</div>
                        </div>
                        {{/foreach}}
                </div>
            </div>
            {{/foreach}}
        </div>
        <div class="recipe-card-meta">{{#if recipes.time}}Time to cook <span class="meta">{{recipes.time}}<meta property="totalTime" datetime="" /></span>, {{/if}}
        {{#if recipes.serves}}makes <span property="recipeYield" class="meta">{{recipes.serves}}</span>{{/if}}
        </div>
        <meta property="description" content="">
        <meta property="image" content="{{../post.image}}">
      </div>
    {{/if}}
{{else}}
    <!-- No Ingredients Found -->
{{/ct}}
